.popup-content {
  background-color: #ffffff;
  border-radius: 14px;
  height: 550px;
  max-height: 600px;
  max-width: 600px;
  min-height: 350px;
  min-width: 350px;
  @media (max-width: 768px) {
    width: 300px;
    height: 300px;
  }
}
